@import "reset";

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.zoom-enter-active,
.zoom-leave-active {
  transition: opacity .3s ease;
  //transition-delay: 200ms;
}

.zoom-enter,
.zoom-leave-active {
  opacity: 0;
  transform: scale(0);
}


.itv-highlight-red{
  color: $red;
}

.itv-highlight-yellow{
  color: $yellow;
}

.itv-highlight-blue{
  color: $blue;
}

.itv-bg-white{
  background: $white;
}

.itv-input{
  padding: 8px 32px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.itv-input-group {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  text-align: left;
  border-bottom: 1px solid $border;
  transition: all .3s;
  &:not(:first-child){
    margin-top: 64px;
  }
  .itv-input {
    flex: 1;
  }
  .icon-svg {
    margin-right: 16px;
  }
  .captcha-group {
    .img {
      display: inline-block;
      width: 120px;
      object-fit: contain;
    }
    .refresh {
      display: inline-block;
      color: $blue;
      font-size: 28px;
      vertical-align: bottom;
      cursor: pointer;
    }
  }
  &.active {
    border-bottom: 1px solid $blue;
    transition: all .3s;
  }
}

// 单选
.itv-radio-group {
  padding: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .it-radio-group {
    padding: 0 10px;
  }
  label{
    flex: 1;
  }
}
.itv-radio {
  position: relative;
  margin: 0;
  margin-right: 24px;
  width: 41px;
  height: 41px;
  padding: 2px;
  border: 3px solid $font-sub;
  border-radius: 50%;
  vertical-align: sub;
  -webkit-appearance: none;
  &:before {
    position: absolute;
    content: "";
    left: 6px;
    top: 6px;
    width: 23px;
    height: 23px;
    background: $font-sub;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  &:checked {
    border-color: $blue;
    outline: none;
    & + label {
      color: $blue;
    }
    &:before {
      background: $blue;
      transform: scale(1);
      transition: all 0.2s ease;
    }
  }
}

// 头像
.itv-avatar{
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
    object-fit: cover;
  }
}

// 底部导航栏
.itv-nav{
  position: fixed;
  left: 0;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 72px;
  height: 100px;
  width: 100%;
  background: $white;
  z-index: 9999;
  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    font-size: 20px;
  }
}

// 地址信息
.itv-address {
  display: flex;
  padding: 32px 24px;
  &-info {
    flex: 1;
    padding: 0 40px;
    &-title {
      font-size: 24px;
    }
    &-content {
      color: $font-sub;
      p {
        padding: 16px 0 8px;
      }
      .consignee {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

// 操作结果：下单失败/成功、列表为空等
.itv-action-result{
  text-align: center;
  img{
    padding-top: 84px;
  }
  h1{
    padding: 48px 0 72px;
    font-size: 32px;
  }
  .desc{
    padding: 0 100px 84px;
    list-style: disc;
    text-align: left;
    color: $font-sub;
    font-size: 28px;
    *{
      margin-bottom: 8px;
    }
  }
}

// 重写swiper插件样式
.itv-swiper {
  .swiper-slide {
    height: auto;
    img {
      height: 100%;
    }
  }
  .itv-base-button {
    position: absolute;
    left: 60px;
    top: 200px;
  }
  .swiper-button-prev {
    left: 32px;
    background-image: url("./assets/images/arrow-left.svg");
  }
  .swiper-button-next {
    right: 32px;
    background-image: url("./assets/images/arrow-right.svg");
  }
}

// 服务模块公共的样式
.itv-services {
  padding-bottom: 90px;
  &-banner {
    height: 360px;
    background: $light-blue;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-nav {
    text-align: center;
    .item {
      position: absolute;
      left: 0;
      height: 200px;
      width: 100%;
      &-1{
        top:100px;
      }
      &-2{
        top:320px;
      }
      &-3{
        top:550px;
      }
    }
  }
  .section {
    position: relative;
    .itv-base-button {
      position: absolute;
    }
  }
}

// 产品信息公共样式：下单/订单列表/订单详情
.itv-product-info {
  background: white;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    margin-right: 32px;
  }
  &-name {
    flex: 1;
    font-size: 28px;
  }
  &-num{
    flex: .15;
  }
}

// 表格样式：订单详情
.itv-table{
  border-collapse: collapse;
  color: $font-sub;
  th,
  td {
    padding: 16px;
    text-align: left;
  }
  th {
    font-weight: normal;
  }
}

// 底部客服
.itv-user-service {
  position: absolute;
  right: 0;
  bottom: 140px;
  padding: 0 32px;
  width: 100%;
  text-align: right;
  .itv-base-button {
    background: $white;
    .itv-icon-svg{
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }
}

// 报告列表：订单详情/报告列表
.itv-report{
  position: relative;
  padding: 24px 24px 120px;
  margin-top: 16px;
  h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .report-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    height: 199px;
    color: $white;
    h3 {
      font-size: 32px;
    }
    .person {
      display: flex;
      justify-content: space-between;
    }
    & + & {
      margin-top: 16px;
    }
  }
  .bg-filter {
    background: url("./assets/images/pic-filter-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-child {
    background: url("./assets/images/pic-child-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-microbiology {
    background: url("./assets/images/pic-microbiology-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .itv-user-service{
    bottom: 32px;
  }
}

// 地址选择栏插件样式重写
.yd-tab-nav-item{
  font-size: 28px !important;
  line-height: 100px !important;
  &:after{
    display: none;
  }
}


